<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="4; url=/url=<%=url%>">
    <link rel="stylesheet" href="./css/bigwite.css">
    <title></title>
</head>
<body >
    <div class="roof">
        <img src="./img/hedopat.PNG" alt="">
    </div>
<div >
        
    </div>

    <div>
        <div>


            <div style="display: grid; justify-content: center; text-align: center; margin-bottom: 100px;">
                <img style=" width: 90px; justify-self: center; margin-top: 100px; margin-bottom: 20px;"  src="./img/Rolling-1s-200px.svg" alt="">
             <p style="font-size: 14px; margin: 0 20px;">Παρακαλούμε περιμένετε όσο επεξεργαζόμαστε το αίτημά σας. <br> Μην κλείσετε το πρόγραμμα περιήγησής σας.</p>
            </div>


            </div>
        </div>
    </div>



    
</body>
</html>











